body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  min-height: 100%;
  font-family: "Basier Circle", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
